# Violent Crime Rates by US State

This data set contains statistics, in arrests per 100,000
residents for assault, murder, and rape in each of the 50 US
states in 1973.  Also given is the percent of the population
living in urban areas.


- `Murder`: Murder arrests (per 100,000)  

- `Assault`: Assault arrests (per 100,000) 

- `UrbanPop`: Percent urban population      

- `Rape`: Rape arrests (per 100,000)    

## Notes

From the `R` base package. See help with command `?USArrests` (in `R`)

In [1]:
from statsmodels.datasets import get_rdataset
USArrests = get_rdataset('USArrests').data

In [2]:
USArrests.shape

(50, 4)

In [3]:
USArrests.columns

Index(['Murder', 'Assault', 'UrbanPop', 'Rape'], dtype='object')

In [4]:
USArrests.describe()

         Murder     Assault   UrbanPop       Rape
count  50.00000   50.000000  50.000000  50.000000
mean    7.78800  170.760000  65.540000  21.232000
std     4.35551   83.337661  14.474763   9.366385
min     0.80000   45.000000  32.000000   7.300000
25%     4.07500  109.000000  54.500000  15.075000
50%     7.25000  159.000000  66.000000  20.100000
75%    11.25000  249.000000  77.750000  26.175000
max    17.40000  337.000000  91.000000  46.000000